{% extends 'MagazentoUserBundle::layout.html.twig' %}
{% block fos_user_content %}

<section id="title" class="container clearfix">


    <div class="twelve columns">

        <h1>Build your app.</h1>
        <h2>When settings is done simply click "Build" and get your App!</h2>
    </div>
    <div id="infobox" class="eight columns clearfix">
        <div class="infobox" style="height: 350px;">
            <h2>iPhone: Before you build check bellow</h2>

            <ul class="list checklist2">
                {% for item in complete %}
                    <li>{{ item }}</li>
                {% endfor %}                
            </ul>
            <ul class="list dash">
                {% for item in issues %}
                    <li>{{ item }}</li>
                {% endfor %}     
            </ul>       
            {% if buildStatus %} 
                <p class="buildstatus">
                    <strong>Type:</strong> <span>{{ (buildStatus.type) }}</span> 
                    <strong>Time:</strong> <span>{{ (buildStatus.time) }}</span>
                </p>
                <p class="buildstatus"><strong>Status:</strong> <span>{{ (buildStatus.message) }}</span></p>
         
    
                {% if buildStatus.status == true %}
                    <a class="button buildbutton" href="{{ path('_magazento_build_download_iphone') }}">Download App</a>
                {% endif %}      
                    
            {% endif %}                      
        </div>

    </div>      
    <div id="infobox" class="four columns clearfix" >
        <div class="infobox" style="height: 350px;">
            <h2>Buld Testing</h2>
            <div class="three columns">            
                <form class="tabcontent widthform" action="{{ path('_magazento_build_run') }}" method="post" {{ form_enctype(formIphoneDev) }}>
                    <fieldset>
                        {{ form_widget(formIphoneDev) }}
                    </fieldset>
                    <div class="form-click">
                        <span><input type="submit" name="submit" value="Run Build" id="submit"></span>
                    </div>       
                </form>            
                <!-- <a class="button" href="{{ path('_magazento_build_run') }}">Run Build</a> -->
            </div>
        </div>
    </div>
    <div id="infobox" class="four columns clearfix" >
        <div class="infobox" style="height: 350px;">
            <h2>Buld Distribution</h2>
            <div class="three columns">            
                <form class="tabcontent widthform" action="{{ path('_magazento_build_run') }}" method="post" {{ form_enctype(formIphoneProd) }}>
                    <fieldset>
                        {{ form_widget(formIphoneProd) }}
                    </fieldset>
                    <div class="form-click">
                        <span><input type="submit" name="submit" value="Run Build" id="submit"></span>
                    </div>       
                </form>            
                <!-- <a class="button" href="{{ path('_magazento_build_run') }}">Run Build</a> -->
            </div>
        </div>
    </div>

    <div class="sixteen columns">
        <br class="clear">
            
            
        {% if buildStatus %}        
            <textarea class="buildlog" >
                {{ (buildStatus.log) }}
            </textarea>        
        {% endif %}            
    </div>    

    
</section>
<br class="clear"/>




{% endblock %}